/* main-card CSS */
.main-card{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    column-gap: 4%;
    row-gap: 4%;
    background-color: #161e20;
    color: #dad942;
}

/* inside-card CSS */
.inside-card{
    border: 3px solid black;
    padding: 24px;
    width: 271px;
    margin-left:62px;
    margin-top: 69px;
    margin-bottom: 62px;
    border-radius: 25px;
    box-shadow: rgb(30 44 45) 0px 36px 34px;
}

.inside-card:hover{
    transform: translateY(20px);
    margin-bottom: 4%;
    
}